.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.my-color {
  background: linear-gradient(to left, #1565c0, #b92b27);
}

.center {
  display: flex;
  justify-content: center;
}
.zindex {
  z-index: 1;
}

.url-form {
  width: 700px;
}

.App {
  text-align: center;
}

.profile-modal {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modal-close {
  position: relative;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  font-style: bold;
  cursor: pointer;
  z-index: 10;
}
.modal-close:hove {
  color: gray;
}
